#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.card {
  height: 200px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;  
  }

  > img {
    /* object-fit: contain; */
    width: 100%;
    height: 400px;
  }
}


.selected-card {
  border: 2px solid red;
}